<div class="app-overlay valign-wrapper" id="<%= id %>">
  <div class="app-overlay-inner">
    <div class="preloader-wrapper active">
      <div class="spinner-layer spinner-orange">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <span id="overlay-text"><%= text %></span>
  </div>
</div>