<div class="app-header">
  <a href="/" class="app-logo"></a>
  <div class="app-title">
    <a href="/" class="app-name">Source</a>
    <span class="app-powered-by">Powered by</span>
    <a href="https://organisation.com" target="_blank" rel="noopener noreferrer" class="app-logo-organisation"></a>
  </div>
</div>
