<% if @full_matches.present? %>
  <div class="row">
    <div class="col s12">
      <h3 class="subtitle">
        <%= @full_matches.length %> Full Matches
      </h3>
    </div>
  </div>
  <div class="row">
    <% count = 1 %>
    <% @full_matches.each do |fm| %>
      <%= render partial: 'components/result_card.html.erb', locals: {
        image_url: fm[:image_url], page_title: fm[:page_title], page_url: fm[:page_url],
        page_desc: fm[:page_desc], last_modified: fm[:last_modified], verified: false
      } %>
      <% if count % 3 == 0 %>
        </div><div class="row">
      <% end %>
      <% count += 1 %>
    <% end %>
  </div>
<% end %>
